BETFAIR_USERNAME=xxx
BETFAIR_PASSWORD=xxx
BETFAIR_APP_KEY=xxx
FOOTBALL_DATA_API_KEY=xxx
BETFAIR_CERT_PATH=P:/Documents/WiP/AI_trading/Betfair_bot/certs/client-2048.crt
BETFAIR_KEY_PATH=P:/Documents/WiP/AI_trading/Betfair_bot/certs/client-2048.key
